
h1{
        font-size: 20px;
        margin: 0 0 1rem 0;
    }
.box {
    width: 300px;
         
}
.box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}
.form {
    display: block;
    margin-top: 0rem;
}
div {
    display: block;
}
.field:not(:last-child) {
    margin-bottom: 0.75rem;
}
.control {
   box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: left; 
}
